### log and other buildbot things
*.log
*.log.*
*.sqlite
*.pid
*.tac
master.py
*.sample
###tmp file
*KK

#### Python
*.pyc
venv
localsettings.py
otherFiles/secrets.cfg


#### Eclipse and so on
.project
.cproject
.pydevproject
.classpath
.idea
worker/
otherFiles/
